a.contact {
    text-decoration: underline;
    text-shadow: 0 0 5px #FFFFFF;
    color: #FFFFFF;
}
.post {
    height: 115px;
}
.post .info {
    position: relative;
    top: -35px;
}
#post1 {
    position: relative;
    animation-name: post1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes post1 {
    from {
        left: -750px;
    }
    to {
        left: 585px;
    }
}
